html,
body {
  min-width: 960px;
}

body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #000;
  background: #fff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.main-navigation {
  color: #fff;
  background-color: #32425c;
}

.main-header, .main-footer {
  font-family: "Cuprum", Arial, sans-serif;
}

.main-header {
  padding-bottom: 60px;
  background-color: #f3f7f8;
}

.user-menu-wrapper {
  margin-bottom: 48px;
  background-color: #293449;
}

.user-menu, .main-navigation {
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  background-color: #293449;
}

.user-menu {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.user-menu a {
  vertical-align: middle;
  text-align: center;
  color: #fff;
}

.user-menu-link {
  position: relative;
  padding-top: 12px;
  padding-bottom: 0;
  padding-left: 46px;
  padding-right: 30px;
}

.user-menu-link:hover,
.user-menu-link:focus {
  background-color: #212a3a;
}

.bookmarks {
  padding-left: 44px;
  padding-right: 29px;
  margin-left: auto;
}

.bookmarks::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 18px;
  height: 20px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-menu-link:hover::before,
.user-menu-link:focus::before {
  opacity: 1;
}

.user-menu-link:active::before {
  opacity: 0.5;
}

.basket {
  padding-left: 48px;
  padding-right: 31px;
}

.basket::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 18px;
  height: 20px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmarks:active,
.basket:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.basket-full {
  padding-left: 48px;
  padding-right: 26px;
  background-color: #ee3643;
}

.logo {
  display: block;
  width: 220px;
  padding: 12px 0;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  box-shadow: 0 5px 0 0 #b52933;
  background-color: #ee3643;
}

.logo img {
  width: 137px;
  height: 22px;
}

.order {
  padding: 12px 22px 12px 20px;
  background-color: #63a63e;
}

.search-form {
  width: 270px;
  padding: 0;
  margin: 0;
}

.search-form input {
  position: relative;
  width: 270px;
  padding: 11px 0 12px 48px;
  border: none;
  color: #fff;
  background-color: #293449;
  background-image: url("../img/icon-search.svg");
  background-position: 17px 12px;
  background-repeat: no-repeat;
}

.search-form input:hover {
  background-image: url("../img/icon-search-white.svg");
  background-color: #212a3a;
}

.search-form input:focus {
  outline: none;
  color: #000;
  background-color: #fff;
  background-image: url("../img/icon-search-red.svg");
}

.search-form input::placeholder {
  color: #fff;
}

.search-form input:focus::placeholder {
  color: #000;
}

.logo-header {
  width: 220px;
  margin: 0;
  padding-bottom: 0px;
}

.logo-header[href]:hover,
.logo-header[href]:focus {
  box-shadow: 0 5px 0 0 #9a212a;
  background-color: #ca2c37;
}

.logo-header[href]:active {
  box-shadow: 0 5px 0 0 #8e1e26;
  background-color: #ba2732;
}

.logo-header img {
  width: 110px;
  height: 20px;
}

.order:hover,
.order:focus {
  background-color: #5fbb2d;
}

.order:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #518534;
}

.main-header-info {
  padding: 0;
  margin-bottom: 39px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.shop-description {
  width: 210px;
  padding: 0;
  padding-left: 52px;
  margin: 0;
  margin-right: 58px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: normal;
  color: #ee3643;
}

.header-contacts-info {
  margin: 0;
  padding: 0;
}

.phone-number {
  display: block;
  position: relative;
  padding: 5px 50px 7px 71px;
  margin: 0;
  margin-bottom: 4px;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #ee3643;
  box-sizing: border-box;
  border: 3px solid #fff;
}

.phone-number::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 12px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-address {
  margin: 0;
  margin-left: 9px;
  padding: 0;
}

.user-navigation {
  margin: 0;
  margin-bottom: 30px;
  margin-left: auto;
  padding: 0;
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
}

.user-link {
  display: block;
  padding: 8px 24px;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #000;
  background-color: #fff;
  box-sizing: border-box;
}

.user-link:hover,
.user-link:focus {
  color: #ee3643;
}

.user-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.login {
  position: relative;
  padding-left: 46px;
  margin-right: 10px;
}

.login svg {
  position: absolute;
  top: 12px;
  left: 13px;
}

.login:hover svg {
  fill: #32425c;
}

.login:active svg,
.login:focus svg {
  fill: #c5c5c5;
}

.site-navigation {
  margin: 0;
  padding: 0 26px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.site-navigation a {
  display: block;
  padding: 20px 34px 22px 26px;
  vertical-align: middle;
  color: #fff;
}

.site-navigation a[href]:hover,
.site-navigation a[href]:focus {
  background-color: #293449;
}

.site-navigation a[href]:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.site-navigation .company-link {
  padding-left: 29px;
}

.site-navigation .sale-link {
  padding-left: 24px;
}

.site-navigation .delivery-link {
  padding-left: 28px;
  padding-right: 30px;
}

.site-navigation .contacts-link {
  padding-left: 33px;
  padding-right: 20px;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 33px;
}

.benefit {
  width: 278px;
  padding-left: 22px;
  padding-top: 21px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.benefits p {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.benefit .button {
  width: 90px;
  margin-bottom: 22px;
  margin-left: 3px;
  padding-left: 23px;
  padding-right: 22px;
  padding-top: 11px;
  padding-bottom: 9px;
  background-color: rgba(0, 0, 0, 0.1);
}

.benefit .button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.benefit .button:active,
.benefit .button:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.material-benefit {
  position: relative;
  color: #fff;
  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");
  background-position: 213px 31px;
  background-repeat: no-repeat;
}

.material-benefit .flag {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  overflow: hidden;
  z-index: 0;
}

.material-benefit .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.instrument-benefit {
  color: #fff;
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-position: 197px 33px;
  background-repeat: no-repeat;
}

.machine-benefit {
  margin-right: 0;
  color: #fff;
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-position: 191px 31px;
  background-repeat: no-repeat;
}

.machine-benefit .button,
.sale-benefit .button,
.delivery-benefit .button {
  margin-left: 1px;
}

.sale-benefit {
  margin-right: 0;
  color: #fff;
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-position: 196px 26px;
  background-repeat: no-repeat;
}

.delivery-benefit {
  margin-right: 0;
  color: #fff;
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-position: 191px 32px;
  background-repeat: no-repeat;
}

.slider {
  margin-right: 19px;
}

.slider-switch,
.slider-toggle {
  position: relative;
}

.left-switch {
  position: absolute;
  top: 114px;
  left: 25px;
  width: 28px;
  height: 44px;
  background-image: url("../img/icon-left.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.right-switch {
  position: absolute;
  top: 114px;
  right: 15px;
  width: 28px;
  height: 44px;
  background-image: url("../img/icon-right.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.toggle {
  position: absolute;
  top: 220px;
  left: 295px;
  width: 10px;
  height: 10px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: none;
  background-color: #fff;
}

.slider-toggle button:nth-of-type(2) {
  left: 315px;
}

.active-toggle::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  background-color: #ee3643;
  border-radius: 50%;
}

.toggle:hover,
.left-switch:hover,
.right-switch:hover {
  cursor: pointer;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  width: 621px;
  height: 267px;
  color: #fff;
}

.slider-item:first-of-type {

  background-image: url("../img/slider-1.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.slider-item:nth-of-type(2) {
  display: none;
  background-image: url("../img/slider-2.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.slider-item h3 {
  margin: 0;
  padding-top: 19px;
  padding-left: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 43px;
  font-weight: bold;
  text-transform: uppercase;
}

.slider-item p {
  padding-left: 24px;
  margin: 0;
  margin-top: -1px;
  margin-bottom: 121px;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
}

.slider-item .button {
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 50px;
  padding-right: 46px;
  margin-left: 25px;
}

.popular-items {
  font-size: 0;
  margin-bottom: 20px;
}

.popular-items-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-items-list .catalog-item {
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.popular-items-list .catalog-item:last-of-type {
  margin-right: 0;
}

.popular-items-list .catalog-item-title {
  margin-top: -3px;
}

.popular-items .previous-price {
  margin-bottom: 7px;
}

.popular-items .current-price {
  margin-bottom: 20px;
}

.popular-items h2,
.popular-brands h2 {
  margin: 0;
  color: #32425c;
}

.title-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 25px 0 26px 0;
  background-color: #f9f5f0;
}

.title-wrapper .section-title {
  margin-top: 2px;
  padding-left: 28px;
}

.title-wrapper .button {
  margin-left: auto;
  margin-right: 24px;
  padding-top: 11px;
  padding-bottom: 8px;
  padding-right: 55px;
  padding-left: 55px;
}

.popular-brands {
  margin-bottom: 65px;
}

.popular-brands .title-wrapper {
  padding: 26px 0 25px 0;
}

.popular-brands .button {
  padding-top: 10px;
  padding-bottom: 9px;
  padding-right: 69px;
  padding-left: 69px;
}

.popular-brands-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-brands-item {
  position: relative;
  display: flex;
  justify-content: center;
  width: 218px;
  height: 144px;
  margin-bottom: 20px;
  margin-right: 20px;
  border: 1px solid #e5e5e5;
}

.popular-brands-item:nth-child(4n) {
  margin-right: 0;
}

.popular-brands-item a {
  align-self: center;
}

.popular-brands-item img {
  vertical-align: middle;
}

img.makita-logo {
  padding-bottom: 5px;
}

img.dewalt-logo {
  padding-bottom: 4px;
}

img.interskol-logo {
  padding-bottom: 2px;
}

img.hitachi-logo {
  padding-left: 4px;
}

img.lg-logo {
  padding-bottom: 3px;
  padding-right: 3px;
}

img.aeg-logo {
  padding-bottom: 4px;
}

img.metabo-logo {
  padding-bottom: 10px;
  padding-left: 3px;
}

.popular-brands-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-brands-item:active,
.popular-brands-item:focus {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.popular-brands-item:active img,
.popular-brands-item:focus img {
  opacity: 0.3;
}

.services-wrapper {
  background-color: #f4f8f9;
}

.services {
  padding-top: 61px;
  padding-left: 10px;
  width: 950px;
  margin: 0 auto;
}

.services .section-title {
  margin: 0;
  margin-bottom: 23px;
}

.services p {
  margin: 0;
  padding: 0;
  margin-bottom: 63px;
}

.services-list-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.services ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services .services-list {
  position: relative;
  margin-top: 6px;
}

.services-list::after {
  position: absolute;
  content: "";
  top: -47px;
  left: 230px;
  width: 10px;
  height: 272px;
  background-image: url("../img/shadow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-button {
  width: 239px;
  padding: 14px 0 18px 0;
  padding-left: 22px;
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  text-align: left;
  color: #fff;
  background-color: #32425c;
  border: none;
  box-shadow: 0 0 0 1px #293449,
              inset 0 1px 0 0 #405069;
}

.service-button:hover {
  background-color: #293449;
}

.current-service-button {
  color: #32425c;
  background-color: #fff;
  box-shadow: none;
}

.current-service-button:hover {
  background-color: #fff;
}

.services-section {
  display: none;
  width: 630px;
  margin-left: 81px;
  padding-bottom: 135px;
}

.delivery-info {
  display: block;
  background-image: url("../img/truck.png");
  background-position: 151px 29px;
  background-repeat: no-repeat;
}

.services-section h3 {
  margin: 0;
  margin-bottom: 22px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 43px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}

.services-section p {
  margin: 0;
  padding: 0;
}

.delivery-info p {
  max-width: 280px;
}

.garantee-info {
  background-image: url("../img/garantee.png");
  background-position: 238px 7px;
  background-repeat: no-repeat;
}

.garantee-info p {
  max-width: 379px;
}

.credit-info {
  padding-bottom: 119px;
  background-image: url("../img/credit.png");
  background-position: 165px 5px;
  background-repeat: no-repeat;
}

.credit-info .button {
  margin-top: 26px;
  padding: 11px 44px 9px 45px;
}

.section-title {
  margin: 0;
  margin-top: 70px;
  margin-bottom: 23px;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  text-transform: uppercase;
}

.company-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.company-info {
  width: 540px;
  margin-right: 100px;
}

.contacts {
  width: 300px;
}

.company-info p {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.company-info p:last-of-type {
  margin-bottom: 20px;
  width: 390px;
}

.company-list {
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  list-style: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.company-list li:last-of-type {
  margin-bottom: 0;
}

.company-list li {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-left: 36px;
}

.company-list li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 8px;
  left: 0;
  background-color: #ee3643;
}

.company-info .button {
  padding-top: 11px;
  padding-bottom: 9px;
}

.button {
  display: inline-block;
  padding: 10px 40px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  border-radius: 3px;
  color: #fff;
  background-color: #ee3643;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.map {
  display: block;
  margin-bottom: 32px;
}

.contacts .button {
  display: block;
  padding: 11px 37px 9px 42px;
  max-width: 100%;
}

.contacts p {
  width: 220px;
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
}

.main-footer ul {
  list-style: none;
}

.logo-footer {
  padding: 20px 0 13px 0;
  margin-bottom: 34px;
}

.footer-navigation-wrapper {
  width: 100%;
  background-color: #32425c;
}

.footer-navigation {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
  background-color: #32425c;
}

.footer-address-container {
  width: 390px;
  margin: 0;
  padding: 0;
}

.footer-contacts {
  margin: 0;
  margin-bottom: 49px;
  padding: 0;
  padding-left: 3px;
}

.footer-list-container {
  width: 550px;
}

.footer-navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 38px 0 34px 0;;
  padding: 0;
}

.footer-navigation-list:first-child,
.footer-navigation-list li:nth-of-type(4) {
  margin-left: 2px;
}

.footer-navigation-list-plus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 70px;
  margin-left: 25px;
  padding: 0;
}

.footer-navigation-list a {
  color: inherit;
}

.footer-navigation-list-plus a {
  color: #ffd180;
}

.footer-address-container {
  width: 340px;
  margin-right: 40px;
}

.footer-contacts a {
  color: inherit;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  text-decoration: underline;
}

.footer-navigation-list a:active {
  text-decoration: none;
  color: rgba(241, 245, 247, 0.5);
}

.footer-navigation-list-plus a:active {
  text-decoration: none;
  color: rgba(255, 209, 128, 0.5);
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-copyright-wrapper {
  width: 100%;
  background-color: #293449;
}

.footer-copyright-block {
  width: 940px;
  margin: 0 auto;
  padding: 21px 0;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  background-color: #293449;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.footer-copyright {
  margin: 0;
  margin-right: 160px;
  padding: 0;
  width: 230px;
}

.footer-social {
  margin: 0;
  margin-right: 119px;
  width: 131px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-button {
  display: flex;
  width: 41px;
  height: 41px;
  color: inherit;
  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #ee3643;
}

.vkontakte {
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.facebook {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.instagram {
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.mail {
  width: 140px;
}

.author {
  margin-left: auto;
  width: 110px;
}

.mail b,
.author b {
  font-weight: normal;
}

.mail a,
.author a {
  color: #ffd180;
}

.mail a:hover,
.mail a:focus,
.author a:hover,
.author a:focus {
  text-decoration: underline;
}

.mail a:active,
.author a:active {
  text-decoration: none;
  color: #ee3643;
}

.user-account {
  width: 300px;
  margin-left: auto;
}

.user-profile-and-logout {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  background-color: #fff;
}

.user-account-info {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-name {
  position: relative;
  display: block;
  padding: 4px 0 8px 0;
  padding-left: 47px;
  padding-right: 40px;
  font-size: 21px;
  line-height: 25px;
  color: #000;
}

.user-name svg {
  position: absolute;
  top: 7px;
  left: 15px;
}

.logout {
  position: relative;
  display: block;
}

.logout svg {
  position: absolute;
  top: 8px;
  right: 10px;
}

.user-name:hover svg,
.logout:hover svg {
  fill: #32425c;
}

.user-name:active svg,
.user-name:focus svg,
.logout:active svg,
.logout:focus svg {
  fill: #c5c5c5;
}

.user-account-info a {
  display: block;
  color: #32425c;
}

.user-account-info a:hover,
.user-account-info a:focus {
  color: #ee3643;
}

.user-account-info a:active {
  color: rgba(50, 66, 92, 0.3);
}

.user-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.my-orders {
  padding-left: 18px;
}

.user-account-link {
  position: relative;
  padding-left: 32px;
}

.user-account-link::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  top: 7px;
  left: 14px;
  background-color: #32425c;
  border-radius: 50%;
}

.main-container {
  margin-top: 59px;
  margin-bottom: 86px;
}

.breadcrumbs {
  padding: 0;
  margin: 21px 0 20px 0;;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs li {
  position: relative;
}

.breadcrumbs li:first-of-type {
  padding-right: 39px;
}

.breadcrumbs li:nth-of-type(2) {
  padding-right: 40px;
}

.breadcrumbs li:nth-of-type(3) {
  padding-right: 44px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 12px;
  top: 2px;
  right: 16px;
  background-image: url("../img/icon-right-small.svg");
}

.breadcrumbs li:nth-of-type(2):after {
  right: 14px;
}

.breadcrumbs:last-child {
  padding-right: 0;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a {
  color: #000;
}

.breadcrumbs .home-link {
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-home.svg");
  background-position: -2px 1px;
  background-repeat: no-repeat;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.category-title {
  padding: 27px 0;
  padding-left: 27px;
  margin: 0 auto 20px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}

.catalog-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 60px;
}

.filters {
  width: 220px;
  margin: 0;
  padding: 0;
}

.catalog {
  width: 700px;
}

.catalog-list {
  margin: 0 0 20px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.catalog-list .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.pagination-list {
  margin: 0;
  padding: 0;
}

.filter {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.filter h2 {
  margin: 0;
  padding: 9px 0 10px 19px;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter fieldset:first-of-type{
  margin-bottom: 2px;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter legend {
  position: relative;
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  padding-top: 11px;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
}

.filter .brands-legend {
  padding-top: 40px;
}

.filter .battery-legend {
  padding-top: 20px;
}

.filter legend::before {
  content: "";
  position: absolute;
  width: 223px;
  height: 1px;
  top: 0;
  left: 0;
  background-color: #e5e5e5;
}

.price-legend::before {
  display: none;
}

.filter .brands-legend::before {
  top: 23px;
}

.filter .battery-legend::before {
  top: 2px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 8px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f7f3ec;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 85%;
  height: 2px;
  background: #00ca74;
}

.range-controls .range-toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  background-color: #ababab;
  cursor: pointer;
}

.range-controls .range-toggle-min {
  left: 20px;
}

.range-controls .range-toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  font-size: 17px;
  line-height: 18px;
}

.price-controls span {
  display: inline-block;
  font-size: 17px;
  line-height: 18px;
  padding: 0;
  margin: 0 7px;
}

.price-controls input {
  width: 47px;
  padding-left: 26px;
  padding-right: 23px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #f7f3ec;
  border: none;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 34px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  font-size: 15px;
  line-height: 20px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 23px;
  top: -1px;
  left: -34px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-input-checkbox:hover + label::before {
  background-image: url("../img/checkbox-off-hover.svg");
}

.filter-input-checkbox:checked:hover + label::before {
  background-image: url("../img/checkbox-on-hover.svg");
}

.filter-input-checkbox:disabled + label,
.filter-input-checkbox:checked:disabled + label {
  opacity: 0.4;
  cursor: auto;
}

.filter-input-checkbox:disabled + label::before {
  background-image: url("../img/checkbox-off.svg");
  cursor: auto;
}

.filter-input-checkbox:checked:disabled + label::before {
  background-image: url("../img/checkbox-on.svg");
  cursor: auto;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: -2px;
  left: -35px;
  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 6px;
  left: -27px;
  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:hover + label::before {
  border-color: #b5b5b5;
}

.filter-input-radio:checked:hover + label::after {
  background-color: #b5b5b5;
}

.filter-input-radio:disabled + label::before {
  border-color: #b5b5b5;
  cursor: auto;
}

.filter-input-radio:checked:disabled + label::after {
  background-color: #b5b5b5;
  cursor: auto;
}

.filter-input-radio:disabled + label,
.filter-input-radio:checked:disabled + label {
  opacity: 0.3;
  cursor: auto;
}

.filter-button {
  padding: 10px 38px 8px 38px;
  margin-top: 58px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  color: #000;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.filter-button:hover {
  cursor: pointer;
}

.sorting-block {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  background-color: #f7f3ec;
}

.sorting-block h2,
.sorting-block a {
  display: block;
  margin: 0;
  padding: 9px 0 10px 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

.sorting-block h2 {
  margin-left: 18px;
  margin-right: 142px;
}

.sorting-link {
  color: rgba(0, 0, 0, 0.3);
}

.sorting-link:nth-of-type(1) {
  margin-right: 69px;
  text-decoration: underline dotted #ee3643;
}

.sorting-link:nth-of-type(2) {
  margin-right: 65px;
  text-decoration: underline dotted #ee3643;
}

.sorting-link:nth-of-type(3) {
  margin-right: 47px;
  text-decoration: underline dotted #ee3643;
}

.sorting-link:hover {
  color: #000;
  text-decoration: underline solid #ee3643;
}

.sorting-link:active,
.sorting-link:focus {
  color: #ee3643;
  text-decoration: none;
}

.up-sorting svg,
.down-sorting svg {
  fill: #c5c5c5;
}

.up-sorting svg:hover,
.down-sorting svg:hover {
  fill: #000;
}

.up-sorting svg:active,
.up-sorting svg:focus,
.down-sorting svg:active,
.down-sorting svg:focus {
  fill: #ee3643;
}

.sorting-block .up-sorting {
  margin-right: 21px;
}

.catalog-list {
  list-style: none;
  margin-bottom: 31px;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-bottom: 20px;
  margin-right: 20px;
  border: 1px solid #e5e5e5;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}


.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item p {
  padding: 0;
  margin: 0;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  z-index: 5;
}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item-title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 1px;
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000;
}

.catalog-item-title a {
  color: inherit;
}

.catalog-item-image {
  display: block;
  max-width: 100%;
}

.previous-price {
  min-height: 20px;
  margin-top: -3px;
  margin-bottom: 8px;
  margin-left: 2px;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: #999999;
}

.current-price {
  position: relative;
  width: 80px;
  margin-right: 39px;
  margin-top: 0;
  margin-left: 41px;
  margin-bottom: 18px;
  padding: 10px 30px;
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  background-color: #ee3643;
  border-radius: 3px;
}

.no-previous-price {
  margin-top: 39px;
  margin-bottom: 20px;
}

.current-price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.buy-button {
  display: block;
  position: relative;
  width: 114px;
  margin: 0 auto;
  margin-bottom: 8px;
  padding: 11px 8px 9px 12px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 0 #367315;
  border-radius:3px;
}

.buy-button:before {
  content: "";
  position: absolute;
  top: 11px;
  left: 13px;
  width: 17px;
  height: 17px;
  background-image: url("../img/cart-icon.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.buy-button:hover,
.buy-button:focus {
  background-color: #5fbb2d;
}

.buy-button:active {
  background-color: #518534;
  box-shadow: none;
}

.buy-button:hover::before,
.buy-button:focus::before {
  opacity: 1;
}

.buy-button:active .modal-item-in-basket {
  display: block;
}

.wishlist-button {
  display: block;
  width: 125px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 8px 0 6px 3px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
  background-color: #fff;
  border: 3px solid #63a63e;
  border-radius:3px;
}

.wishlist-button:hover,
.wishlist-button:focus {
  border-color: #32425c;
}

.wishlist-button:active {
  opacity: 0.3;
}

.buttons-on-hover {
  position: absolute;
  top: -2px;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 45px 0;
  z-index: 2;
  background-color: #fff;
  display: none;
}

.catalog-item:hover .buttons-on-hover {
  display: block;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  font-size: 13px;
  line-height: 18px;
  padding: 10px 15px 9px 14px;
  text-transform: uppercase;
  color: #000;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border-color: #bdc6ca;
}

.pagination-item a:active {
  border-color: #ee3643;
}

.pagination-item-current a {
  color: #fff;
  background-color: #ee3643;
  border-color: #ee3643;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus {
  border-color: #ee3643;
}

.pagination-item .next-page {
  padding-left: 31px;
  padding-right: 30px;
}

.category-info-wrapper {
  background-color: #f2f6f8;
}

.category-info {
  padding-top: 62px;
  padding-bottom: 68px;
  width: 940px;
  margin: 0 auto;
  background-color: #f2f6f8;
}

.category-info h2 {
  margin: 0;
  margin-bottom: 23px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  text-transform: uppercase;
}

.category-info p {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
}

.modal {
  position: fixed;
  background-color: #fff;
}

.modal-map {
  display: none;
  top: 20px;
  left: 50%;
  margin-left: -470px;
  width: 940px;
  height: 447px;
  box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
}

.modal-map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.modal-map .modal-close {
  z-index: 2;
}

.modal-write-us {
  display: none;
  top: 170px;
  left: 50%;
  margin-left: -310px;
  width: 620px;
  padding: 0 0;
  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.write-us-form {
  width: 460px;
  margin: 0 80px;
  padding: 0;
  padding-top: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.write-us-form label {
  display: block;
  margin-bottom: 7px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.write-us-form input,
.write-us-form textarea {
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  box-sizing: border-box;
  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.user-name-input,
.user-email-input {
  width: 220px;
}

.write-us-form input {
  width: 100%;
  padding: 9px 13px;
}

.write-us-form textarea {
  width: 460px;
  height: 114px;
  padding: 9px 13px;
  resize: none;
}

.user-text-input {
  padding: 0;
  margin-top: 18px;
  margin-bottom: 31px;
}

.submit-background {
  width: 460px;
  padding: 37px 80px;
  margin: 0;
  background-color: #f4f4f4;
}

.submit-background .button {
  display: block;
  width: 460px;
  margin: 0;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

.modal-item-in-basket {
  display: none;
  z-index: 10;
  top: 410px;
  left: 50%;
  margin-left: -310px;
  width: 620px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.modal-item-in-basket p {
  width: 380px;
  position: relative;
  padding: 63px 93px 64px 147px;
  margin: 0;
}

.modal-item-in-basket p::before {
  content: "";
  position: absolute;
  width: 68px;
  height: 68px;
  top: 49px;
  left: 82px;
  background-image: url("../img/icon-modal-basket.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.modal-close {
  display: block;
  position: absolute;
  top: 10px;
  right: 7px;
  width: 23px;
  height: 23px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../img/cross.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.basket-buttons {
  margin: 0;
  padding: 37px 0;
  background-color: #f1f1f1;
}

.basket-buttons .button {
  margin: 0;
  padding: 11px 63px 9px 58px;
}

.basket-buttons .continue-buying {
  margin-left: 12px;
  padding: 11px 47px 9px 45px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  color: #000;
  background-color: #fff;
  outline: none;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
